@import url('https://fonts.googleapis.com/css2?family=Boogaloo&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

body {
    font-family: Bebas Neue;
    margin: 0;
    padding: 0;
    background-color: #202124;
}

h1 {
    text-align: center;
    font-size: 70px;
    color: rgb(255, 255, 255);
}

.container {
    font-size: 50px;
    text-align: center;
    color: white;
    height: 720px;
    width: 1280px;
    margin: auto;
    border: 3px solid rgb(128, 0, 66);
    padding: 10px;
    background-image: url(/Images/muizbackground.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: none;
}