@import url('https://fonts.googleapis.com/css2?family=Boogaloo&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

body {
    font-family: Bebas Neue;
    margin: 0;
    padding: 0;
    background-color: #202124;
}

h1 {
    text-align: center;
    font-size: 70px;
    color: rgb(255, 255, 255);
}

.container {
    font-size: 50px;
    text-align: center;
    color: white;
    height: 720px;
    width: 1280px;
    margin: auto;
    border: 3px solid rgb(128, 0, 66);
    padding: 10px;
    background-image: url(/Images/muizbackground.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: none;
}

input[type='radio'] { 
    height: 20px;
    width: 20px;
    cursor: pointer;
    vertical-align: middle;
}

button { 
    transform: scale(1.5); 
}

.myButton {
	background-color:#44c767;
	border-radius:42px;
	border:5px solid #18ab29;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family: Bebas Neue;
	font-size:17px;
	padding:5px 10px;
	text-decoration:none;
	text-shadow:0px 1px 0px #2f6627;
}
.myButton:hover {
	background-color:#5cbf2a;
}
.myButton:active {
	position:relative;
	top:1px;
}

          