@import url('https://fonts.googleapis.com/css2?family=Boogaloo&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

body {
    font-family: Bebas Neue;
    margin: 0;
    padding: 0;
    background-color: #202124;
}

h1 {
    text-align: center;
    font-size: 70px;
    color: rgb(255, 255, 255);
}

.box {
    height: 720px;
    width: 1280px;
    margin: auto;
    border: 3px solid rgb(128, 0, 66);
    padding: 10px;
    background-image: url(/Images/muizbackground.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

#question {
    text-align: center;
    font-size: 50px;
    color: rgb(255, 255, 255);
    padding: 5% 0% 0% 0%;
}

#answer-buttons {
    text-align: center;
}

.controls {
    text-align: center;
}

.btn {
    font-size: 24px;
    padding: 14px 40px;
    height: 50px;
    width: 650px;
}

.btn-one {
    color: #FFF;
    transition: all 0.3s;
    position: relative;
  }

  .btn-one span {
    transition: all 0.3s;
  }

  .btn-one::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    opacity: 0;
    transition: all 0.3s;
    border-top-width: 1px;
    border-bottom-width: 1px;
    border-top-style: solid;
    border-bottom-style: solid;
    border-top-color: rgba(255,255,255,0.5);
    border-bottom-color: rgba(255,255,255,0.5);
    transform: scale(0.1, 1);
  }

  .btn-one:hover span {
    letter-spacing: 2px;
  }

  .btn-one:hover::before {
    opacity: 1; 
    transform: scale(1, 1); 
  }

  .btn-one::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    transition: all 0.3s;
    background-color: rgba(255,255,255,0.1);
  }

  .btn-one:hover::after {
    opacity: 0; 
    transform: scale(0.1, 1);
  }